<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to MyTime Music!</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<div> Welcome to MyTime Music! </div> 
		<br>
		<div>
			
			<a href="/login">Login</a>
			<a href="/signup">Sign Up</a>
			
		</div>
		
	</div>
</body>
</html>