<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to MyTime Music!</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>		
	<div class="container">
		<h1> Welcome to MyTime Music! </h1> 
		<br>
			<a href="/login">Login Page</a>
			<br><br>
			<a href="/signup">Sign Up Page</a>
	</div>
</body>
</html>