<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile Page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		
		<h1>Hi <%= User.username %></h1>
		<form method="POST" action="/logout?_method=DELETE">
			<button>Logout</button>
		</form>
	<form method="POST" action="/login">
		<input type="text" name="year" placeholder="year">
		<button> Add </button>

		<button>login</button>
	</form>


	</div>
</body>
</html>