<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile Page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		
		<div>
		<h1>Hi! <%= Batman %></h1>
		</div>

		<form id = "year" class = "yearForm" method="POST" action="/profile"> 
			<input type ="text" name = "year" 	placeholder = "Year">
			<button onclick="myFunction(document.getElementById('yearlist').append('<a>').req.body 
			)">Add Year to Profile</button>
			<br>
			<br>
		</form>
		
		<form method = 'POST' action = '/logout?_method=DELETE'>

		<button> Log Out </button>

		</form>

		<ul id = 'yearlist'> </ul>

</body>
</html>