<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up Page</title>
</head>
<body>
		<div>
			<div> Sign Up Page </div> 	
		</div>
		<br>
	<form method="POST" action="/signup">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<button>Sign Up</button>
	</form>
	<br>
	<a href="/login">Login Page</a>
</body>
</html>