

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile Page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div>
		<% results.forEach(function(result) { %>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/?list=<%= result.id.playlistId %>" frameborder="0" allowfullscreen></iframe>
		<% }); %>
	</div>
</body>
</html>