<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile Page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div>
		<% results.forEach(function(result) { %>
		<li id = "playlist_list"><iframe width="560" height="315" src="https://www.youtube.com/embed/?list=<%= result.id.playlistId %>" frameborder="0" allowfullscreen></iframe></li>
		<br>
		<form id = "year" class = "yearForm" method="POST" action="/profile"> 
		<button> Back to Profile </button> 
		</form>
		<br>
		<% }); %>
	</div>
</body>
</html>