

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile Page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<form method="POST" action="/year">
		
		<div>
		<h1>Hi! <%= Batman %></h1>
		<h2> <%= Byear %> </h2>
		</div>

		</form>
		
		<form method = 'POST' action = '/logout?_method=DELETE'>

		<button> Log Out </button>

		</form>
	</div>
</body>
</html>